@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <p>Believe it or not, you just submitted a search. Well done.</p>
    </div>
</body>
</html>
