@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RimAttest</h1>
    <p class="lead">RimAttest is a web site for automated testing examples.</p>
    <p><a href="https://github.com/Qarj/RimAttest" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            WebInject is a powerful free automated test tool.
        </p>
        <p><a class="btn btn-default" href="https://github.com/Qarj/WebInject">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Example 1</h2>
        <p>Lorum ipsum.</p>
        <p><a class="btn btn-default" href="https://github.com/Qarj/WebInject">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Example 2</h2>
        <p>Lorum ipsum.</p>
        <p><a class="btn btn-default" href="https://github.com/Qarj/WebInject">Learn more &raquo;</a></p>
    </div>
</div>