
@{
    ViewBag.Title = "JavaScript";
}

            <h2>@ViewBag.Title.</h2>
            <h3>@ViewBag.Message</h3>

            <div id="magicalegg" class="normal" other="thingy">
                <p>Paragraph one is hard coded into html.</p>
                <p>So is paragraph two.</p>
            </div>
            <script type="text/javascript" src="@Url.Content("~/Scripts/append_element.js")"></script>


