
@{
    ViewBag.Title = "Pictures";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img src="~/Content/small_brickwork.jpg" id="bricks" alt="Bricks" style="width:200px;height:87px;" >

<div style="background-image: url(/Content/germination.jpg);"</div>

